.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: aliceblue;
  font-family: 'Creepster', cursive, bold;
  font-size: 30px;
  font-weight: bold;
}

.App h1 {
  margin-top: 250px; /* Increase space below h1 as needed */
  text-shadow: #780283 2px 2px 10px;
  font-family: 'Creepster', cursive, bold;
  font-size: 60px;
  font-weight: bold;
  color: #f1c9fc;
  
}

.download-container {
  margin-top: 2px; /* Adjust space between h1 and download container */
}

/* Styles for the download input and button */
.download-container input::placeholder {
  color: rgba(49, 1, 45, 0.514); /* Hint text color */
}
.download-container input {
  padding: 15px;
  margin-right: 10px;
  font-size: 16px;
  /* border: 1px solid #5f2172; */
  background-color: #eca8ff;
  border-radius: 20px;
  width: 300px;
  max-width: 100%;
  color: rgb(0, 0, 0); /* Add this line to set regular text color to white */

}

.download-container button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #780283;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.download-container button:hover {
  background-color: #7a00b3;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
  transform: translate(1px, 1px);
}

.video-container {
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.video-player {
  width: 1500%;
  max-width: 150%;
  height: auto;
}
